<!doctype html>
<html>

<head>
    <title>Home Screen</title>
</head>

<body>
    <h1>Home Screen!</h1>

    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <!-- Logout button -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <p>You are not logged in. Please log in to continue.</p>
    <!-- Login button -->
    <a href="{% url 'login_view' %}"><button>Login</button></a>
    {% endif %}

    <a href="{% url 'edit_church_screen' %}">
        <button>Go to Edit Church Screen</button>
    </a>
</body>

</html>